body{
  display: flex;
  justify-content: center;
}
.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slack{
  display: none;
}
.links{
  display: flex;
  flex-direction: column;
  align-items: center;
}